[Desktop Entry]
Name=AMA Connect
NoDisplay=true
MimeType=x-scheme-handler/ama-connect;
TryExec=ama-connect
Exec=ama-connect %u
Icon=ama-connect
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=ama-connect
